@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
	background: #e1e1e1;
}
header{
	background: #fa5236;
	margin-bottom: 20px;
}
a {
	text-decoration: none;
}

ul{
	text-align: center;
	margin-top: 30px;
}
img{
    border-radius: 5px 30px 45px 50px;
}
li{
	color: #e1e1e1;
	margin-right: 10px;
	display: inline;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
h3{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
footer{
	background: #fa5236;
}
.post p{
	text-align: justify;

}
.post{
	border: 1px solid black;
	padding: 10px;
	margin-bottom: 20px;
}

a.boton{
	color: #e1e1e1;
	background: #fa5236;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px 10px;
}